RewriteEngine On

# Pass Authorization header through to PHP (stripped by Apache CGI/FastCGI by default)
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ api.php [QSA,L,E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
